@import "tailwindcss";
@layer components {
    .content-height {
        height: 500px;
    }
    .content-full {
        height: 100%;
    }
}

@layer utilities {
    .scrollbar-modern {
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: rgba(100, 100, 100, 0.4) transparent; /* Firefox */
    }

    .scrollbar-modern::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar-modern::-webkit-scrollbar-track {
        background: transparent;
    }

    .scrollbar-modern::-webkit-scrollbar-thumb {
        background-color: rgba(100, 100, 100, 0.4);
        border-radius: 9999px;
    }
}
